  <div class="container">
  	<div class="row">
  		<div class="col-md-6 col-md-offset-3">
  			<div *ngIf="af.auth | async">
  				<div><p class="lead">Hello, {{ (af.auth | async)?.auth.email }}</p></div>
  				<button class="btn btn-default"  (click)="logOut()">Logout</button>
  			</div>
  			<div *ngIf="!(af.auth | async)">
  				<p class="text-center"><i>demo email: kulibinnxx@yandex.ru | demo pass: mkdevmkdev</i></p>
  				<form (ngSubmit)="emailLogin(email, password)" #loginForm="ngForm"> 
  					<div class="form-group">
  						<label for="email">email</label>
  						<input type="email" class="form-control" required [(ngModel)]="userEmail" name="email" placeholder="your email address" #email="ngModel">
  						<div [hidden]="email.valid || email.pristine" class="alert alert-danger">
  						Email is required
  						</div>
  					</div>
  					<div class="form-group">
  						<label for="password">password</label>
  						<input type="password" class="form-control" required [(ngModel)]="userPassword" name="password" #password="ngModel">
  						<div [hidden]="password.valid || password.pristine" class="alert alert-danger">
  						Password is required
  						</div>
  					</div>
  					<div class="form-group">
  					<button type="submit" class="btn btn-default" [disabled]="!loginForm.form.valid">Login</button>
  					</div>
  					<div [hidden]="!hasError" class="alert alert-danger">
  						{{errorMessage}}
  						</div>
  				</form>
  			</div>
  		</div>
  	</div>
  </div>